.textarea {
  display: block;
  width: 95%;
  height: 50px;
  margin: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 10px;
  resize: none;
}

.button {
  display: block;
  margin-right: 15px;
  margin-left: auto;
  background-color: #3ae6ca;
  padding: 0 30px;
  border: none;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}