.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 80%;
    background-color: #ccc;
    border-radius: 15px;
    padding-bottom: 50px;
}